@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Slab:wght@500;900&family=Material+Icons&display=swap");

$serif: "Roboto Slab";
$sans-serif: "Poppins";
$icons: "Material Icons";

.icon {
  font-family: $icons;
}
